@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.BG_PHOTO {
  @apply h-[100svh];
  background-image: url('/bg-photo.png');
  background-size: cover;
}

.BG_TINT {
  background-color: #00000080;
  background-blend-mode: multiply;
}

.TEXT_SHADOW {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 768px) {
  .MAIN_CONTENT {
    margin-top: clamp(10rem, 12.5vw, 13rem);
  }
}
